.footer-logo img {
  vertical-align: middle;
}

.site-copyright a {
  text-decoration: none;
  color: inherit;
}


.site-copyright a:hover {
  text-decoration: underline;
}

.footer-socials .icon-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
}

.footer-socials .icon-links a:hover {
  color: var(--gray-12);
}

.foot-links .section-group-caption {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.01rem;
  margin-bottom: 0.5rem;
  color: var(--heading-color);
}

.foot-links li {
  padding: 0.25rem 0;
}

.foot-links a {
  padding: 0;
  font-weight: 500;
  color: var(--text-color);
}

.foot-links a:hover {
  color: var(--accent-9);
}
