@media (width < 80rem) {
  #doc-outline {
    display: none;
    position: fixed;
    top: 105px;
    right: 2rem;
    padding: 1.5rem 0.5rem;
    box-shadow: var(--shadow-lg);
    background-color: var(--background-color);
    border: 1px solid var(--gray-a4);
    border-radius: 6px;
    z-index: 30;
    max-height: calc(100vh - var(--navbar-height));
    overflow: auto;
  }
  #doc-outline[aria-hidden="false"] {
    display: block;
  }
}

#aside {
  scrollbar-width: none;
  max-height: calc(100vh - var(--navbar-height));
}

.outline-content {
  position: relative;
  border-left: 1px solid var(--gray-a3);
}

.outline-marker {
  position: absolute;
  width: 2px;
  height: 18px;
  background-color: var(--accent-9);
  top: calc(32px * var(--active-index, 0) + 8px);
  transition: top 0.2s ease;
}

.outline-content > ul {
  padding: 0 1rem;
}

.outline-content a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: .875rem;
  line-height: 2rem;
  color: var(--gray-11);
}

.outline-content .active a {
  color: var(--gray-12);
}

.outline-content a:hover {
  color: var(--gray-12);
}

.outline-content .level-3 {
  padding-left: 0.875rem;
}

.outline-content .level-4 {
  padding-left: 1.75rem;
}

.outline-content .level-5 {
  padding-left: 2.625rem;
}

.outline-content .level-6 {
  padding-left: 3.5rem;
}

/* style elements added by outline script */
.e-content h1:hover .heading-anchor,
.e-content h2:hover .heading-anchor,
.e-content h3:hover .heading-anchor,
.e-content h4:hover .heading-anchor,
.e-content h5:hover .heading-anchor,
.e-content h6:hover .heading-anchor {
  visibility: visible;
  opacity: 1;
}

.heading-anchor {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  text-decoration: none;
  position: absolute;
  left: -1.5rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  height: auto;
}

.anchor-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  width: 1.25rem;
  height: 1.25rem;
  color: var(--gray-9);
  background-color: var(--background-color);
  border: 1px solid var(--gray-a4);
  border-radius: 4px;
}

.anchor-icon:hover {
  background: var(--gray-1);
  border-color: var(--gray-6);
}
