@import "./components/nav-links.css";
@import "./components/theme-switch.css";
@import "./components/hamburger.css";
@import "./components/aria-tip.css";
@import "./components/button.css";
@import "./components/docsearch.css";

body[data-expanded*="MobileNavbar"] {
  overflow: hidden;
}

.site-head_brand {
  display: flex;
  align-items: center;
}

.site-head_brand img {
  height: 30px;
}

.site-head_brand img + strong {
  display: none;
}

.site-head_actions li:last-of-type > a {
  background-color: var(--accent-10);
  color: var(--accent-contrast);
  border-radius: 48px;
  padding: 0.4rem 1rem;
  font-size: 0.825rem;
  font-weight: 500;
}

.site-head_actions li:last-of-type > a:hover {
  opacity: 0.85;
}

.mobile-site-head {
  position: absolute;
  top: 64px;
  left: 0;
  padding: 1rem;
  background-color: var(--background-color);
  height: calc(100vh - 64px);
  width: 100%;
  z-index: 30;
}

.mobile-site-head[aria-hidden="true"] {
  height: 0;
  visibility: hidden;
}

.mobile-site-head .nav-links {
  gap: 2rem;
}
