{% from "macros/links.j2" import render_nav_links %}

<div class="nav-head flex items-center justify-between lg:px-12 h-16 min-w-0 mx-4 lg:mx-0">
  <a class="nav-head-brand shrink-0" href="/">
    {% include "components/site-logo.j2" %}
  </a>
  <div class="hidden lg:flex lg:pl-6 items-center grow justify-between">
    {{ render_nav_links(theme_nav_links) }}
  </div>
  <div class="flex items-center gap-x-2">
    {% include "./searchbox.j2" %}
    {% if theme_nav_actions %}
    <div class="hidden lg:flex items-center nav-head-actions">
      {{ render_nav_links(theme_nav_actions) }}
    </div>
    {% endif %}
    {% include "./theme-switch.j2" %}
    {% if theme_nav_links or theme_nav_actions %}
      <button class="js-menu hamburger aria-tip icon-button flex lg:hidden"
        aria-label="Menu" type="button" aria-expanded="false" aria-controls="mobile-navbar">
        <div class="hamburger_box">
          <span class="hamburger_1"></span>
          <span class="hamburger_2"></span>
          <span class="hamburger_3"></span>
        </div>
      </button>
    {% endif %}
  </div>
</div>
<div id="mobile-navbar" class="mobile-nav-head lg:hidden" aria-hidden="true">
  <div class="max-w-md mx-auto p-4">
    {{ render_nav_links(theme_nav_links, 'mobile-nav') }}
    {% if theme_nav_actions %}
      <div class="nav-head-actions flex items-center justify-center border-t mt-10 py-4">
        {{ render_nav_links(theme_nav_actions) }}
      </div>
    {% endif %}
  </div>
</div>
