.entry-tags a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 14px;
  color: var(--gray-11);
  background: var(--gray-a3);
  padding: 0.25rem 0.725rem;
  font-weight: 500;
  border-radius: 4px;
}

.entry-tags a:before {
  content: '#';
  font-weight: 900;
  color: var(--gray-5);
  margin-right: 2px;
}
.entry-tags a:hover {
  text-decoration: none;
  color: var(--accent-1);
  background: var(--accent-a9);
}
.entry-tags a + a {
  margin-left: 4px;
}
