.entry-tags a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 14px;
  color: var(--gray-11);
  font-weight: 600;
  border-radius: 4px;
}

.entry-tags a:before {
  content: '#';
  font-weight: 900;
  color: var(--gray-5);
  margin-right: 2px;
}
.entry-tags a:hover {
  text-decoration: none;
  color: var(--accent-10);
}
