{% from "macros/links.j2" import render_section_links, render_icon_links %}

<div class="bg-gray-2 border-t py-6">
  <div class="px-4 md:px-8 xl:px-16 relative">
    <div class="flex">
      <div class="flex flex-col gap-4">
        <div class="site-foot_logo">
          {% include "components/site-logo.j2" %}
        </div>

      </div>
    </div>
    <div class="grow">
      {% if theme_foot_links %}
        {{ render_section_links(theme_foot_links) }}
      {% endif %}
    </div>
    <div class="flex justify-between gap-8 pt-10">
      <div class="text-sm text-gray-10 site-copyright">
        {% if theme_copyright %}
        {{ theme_copyright|safe }}
        {% else %}
        &copy; {{ site.name }}
        {% endif %}
      </div>
      {% if theme_foot_socials %}
        <div class="site-foot_socials">
          {{ render_icon_links(theme_foot_socials) }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
