@import "tailwindcss";
@import "./tailwind.css";

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: var(--base-font);
  color: var(--text-color);
  background-color: var(--background-color);
}

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#main {
  min-height: calc(100vh - 220px);
}
