@import "tailwindcss";
@import "./tailwind.css";
@import "./variables.css";
@import "./components/theme-switch.css";
@import "./components/hamburger.css";
@import "./components/aria-tip.css";
@import "./components/masks.css";
@import "./layout/navbar.css";
@import "./layout/footer.css";

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: var(--base-font);
  color: var(--text-color);
  background-color: var(--background-color);
}

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#main {
  min-height: calc(100vh - 220px);
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}
