{% block styles %}
{% include "./_partials/webfonts.j2" %}
<link rel="stylesheet" href="{{ _static_url }}/base.css">
<link rel="stylesheet" href="{{ _static_url }}/column.css">
{% endblock %}

{% block scripts %}
<script src="{{ _static_url }}/app.js" type="module"></script>
{% include "components/iconify-icon.j2" %}
{% endblock %}


{% block body %}
  <div id="navbar" class="z-30 fixed lg:sticky top-0 w-full">
    <div id="navbar-backdrop"></div>
    <div class="mx-auto max-w-content relative">
      {% include "./_layouts/components/nav-head.j2" %}
    </div>
  </div>
  <main id="main" class="max-w-content flex mx-auto pt-28 lg:pt-14 pb-16 lg:px-8">
    <div class="grow px-6 flex flex-col lg:flex-row gap-4">
      <section class="relative pb-12 mb-6 border-b lg:w-80 lg:pr-10 lg:border-none shrink">
        <h1 class="text-4xl font-bold">{{ column.title }}</h1>
        {% if column.subtitle %}
          <h2 class="mt-2 text-lg text-gray-11">{{ column.subtitle }}</h2>
        {% endif %}
        <div class="flex lg:flex-col gap-2">
        </div>
      </section>
      <div class="flex flex-col gap-8">
        {% if pagination.items %}
          {% for note in pagination.items %}
            {% if note.type == 'audio' and note.audio %}
              {% include "./_partials/audio-item.j2" %}
            {% elif note.type == 'review' and note.review %}
            {% elif note.type == 'photos' %}
            {% else %}
              {% include "./_partials/post-item.j2" %}
            {% endif %}
          {% endfor %}
        {% endif %}
        {% include "./_partials/navigation.j2" %}
      </div>
    </div>
  </main>
  {% include "./_layouts/footer.j2" %}
{% endblock %}
