{% set columns = query.filter_columns(type=column.type, lang=column.lang) %}
{%- if column.metadata.config -%}
{% set column_config = query.parse_asset_data(column.metadata.config) %}
{%- else -%}
{% set column_config = {} %}
{%- endif -%}

{%- set column_notes = query.filter_column_notes(column=column.id) %}

{%- if not column_config.sidebar -%}
{% do column_config.setdefault('sidebar', column_notes) %}
{%- endif -%}

{% block styles %}
{% include "./_partials/webfonts.j2" %}
<link rel="stylesheet" href="{{ _static_url }}/base.css">
<link rel="stylesheet" href="{{ _static_url }}/docs.css">
<style>:root{--navbar-height: 112px}</style>
{% if columns|count < 2 %}
  <style>@media (width >= 64rem){ :root {--navbar-height: 64px} }</style>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ _static_url }}/app.js" type="module" async></script>
{% include "components/iconify-icon.j2" %}
{% endblock %}


{% block body %}
  <div id="navbar" class="z-30 fixed lg:sticky top-0 w-full">
    <div id="navbar-backdrop"></div>
    <div class="mx-auto max-w-content relative">
      {% include "./_layouts/components/nav-head.j2" %}
      {% include "./_layouts/components/nav-menu.j2" %}
      {% include "./_layouts/components/nav-columns.j2" %}
    </div>
  </div>
  <main id="main" class="max-w-content flex mx-auto pt-28 lg:pt-0 lg:px-8">
    {% include "./_layouts/doc-sidebar.j2" %}
    <div id="content-container" class="grow overflow-x-hidden px-6 pb-10 @container">
      <section class="relative min-w-0 shrink pt-8">
        <h1 class="text-4xl font-bold">{{ column.title }}</h1>
        {% if column.subtitle %}
          <h2 class="mt-2 text-lg text-gray-11">{{ column.subtitle }}</h2>
        {% endif %}
        {% if column_config.introduction %}
          <div class="e-content">
            {{ column_config.introduction|markdown }}
          </div>
        {% endif %}
        <div class="flex flex-col gap-8 pt-8 border-t">
          {% if pagination.items %}
            {% for note in pagination.items %}
              <a class="hover:opacity-80" href="{{ note.url }}">
                <div class="font-medium text-lg">{{ note.title }}</div>
                {% if note.subtitle %}
                  <div class="text-gray-11 mt-1.5">{{ note.subtitle }}</div>
                {% endif %}
              </a>
            {% endfor %}
          {% endif %}
          {% include "./_partials/navigation.j2" %}
        </div>
      </section>
    </div>
  </main>
  {% include "./_layouts/footer.j2" %}
{% endblock %}
