{% block styles %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ _static_url }}/content.css">
{% endblock %}

{% block scripts %}
<script src="{{ _static_url }}/app.js" type="module"></script>
{% include "components/iconify-icon.j2" %}
{% endblock %}

{% set columns = query.filter_columns(type=column.type, lang=column.lang) %}

{% block body %}
  {% include "./_layouts/doc-head.j2" %}
  <div>hahah</div>
  {% include "./_layouts/site-foot.j2" %}
{% endblock %}
