{% block styles %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ _static_url }}/base.css">
{% endblock %}

{% block scripts %}
<script src="{{ _static_url }}/app.js" type="module" async></script>
{% include "components/iconify-icon.j2" %}
{% endblock %}

{% set home_config = query.parse_asset_data('#home-config.json') %}

{% block body %}
  <div id="navbar" class="z-30 fixed lg:sticky top-0 w-full">
    <div id="navbar-backdrop"></div>
    <div class="mx-auto max-w-content relative">
      {% include "./_layouts/components/nav-head.j2" %}
    </div>
  </div>
  <main id="main" class="max-w-content mx-auto py-28 lg:pt-14 px-4 md:px-6 lg:px-12">
    {% if not home_config or home_config.recent_posts %}
      <div class="flex flex-col grow gap-8">
        {% for note in query.paginate_notes(per_page=20) %}
          {% if note.type == 'audio' and note.audio %}
            {% include "./_partials/audio-item.j2" %}
          {% else %}
            {% include "./_partials/post-item.j2" %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </main>
  {% include "./_layouts/footer.j2" %}
{% endblock %}
