{%- set column = note.column -%}
{%- set columns = query.filter_columns(type=column.type, lang=column.lang) -%}

{%- if column.metadata.config -%}
{% set column_config = query.parse_json_asset(column.metadata.config) %}
{%- else -%}
{% set column_config = None %}
{%- endif -%}

{%- if column_config and column_config.sidebar -%}
{% set has_sidebar = True %}
{%- else -%}
{% set has_sidebar = False %}
{%- endif -%}

{% block styles %}
{% include "./_partials/webfonts.j2" %}
<link rel="stylesheet" href="{{ _static_url }}/base.css">
<link rel="stylesheet" href="{{ _static_url }}/docs.css">
{% include "components/clipboard-copy.j2" %}
<style>:root{--navbar-height: 112px}</style>
{% if columns|count < 2 %}
  <style>@media (width >= 64rem){ :root {--navbar-height: 64px} }</style>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ _static_url }}/app.js" type="module"></script>
{% include "components/iconify-icon.j2" %}
{% include "components/lightbox.j2" %}
{% endblock %}

{% block body %}
  <div id="navbar" class="z-30 fixed lg:sticky top-0 w-full">
    <div id="navbar-backdrop" class="absolute w-full h-full backdrop-blur border-b"></div>
    <div class="mx-auto max-w-content relative">
      {% include "./_layouts/components/nav-head.j2" %}
      {% include "./_layouts/components/nav-breadcrumbs.j2" %}
      {% include "./_layouts/components/columns.j2" %}
    </div>
  </div>
  <main id="main" class="flex mx-auto pt-28 pb-10 lg:pt-0 lg:px-8
    {%- if has_sidebar %} max-w-content{% else %} max-w-6xl{% endif -%}
  ">
    {% if has_sidebar %}
      {% include "./_layouts/doc-sidebar.j2" %}
    {% endif %}
    <div id="content-container" class="grow overflow-x-hidden px-6">
      <article class="relative min-w-0 pt-8">
        <div class="mb-2 uppercase text-sm font-semibold text-accent-10">{{ column.title }}</div>
        <h1 class="p-name text-2xl lg:text-4xl font-bold">{{ note.title }}</h1>
        {% if note.subtitle %}
          <h2 class="p-summary mt-2 text-lg text-gray-11">{{ note.subtitle }}</h2>
        {% endif %}
        <div class="e-content font-serif lg:text-lg">
          {{ note.content }}
        </div>
      </article>
    </div>
    <div {% if has_sidebar %}class="hidden xl:block"{% else %}class="hidden lg:block"{% endif %}>
      <aside id="aside" class="pl-6 pt-8 w-64 sticky top-(--navbar-height) overflow-y-auto">
        <div class="outline-marker"></div>
        <div class="flex items-center gap-1 text-sm mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M8 6h10"/>
            <path d="M6 12h9"/>
            <path d="M11 18h7"/>
          </svg>
          <span class="font-medium">{{ translate('onthispage') }}</span>
        </div>
        <div class="js-outline outline-content"></div>
      </aside>
    </div>
  </main>
  {% include "./_layouts/footer.j2" %}
{% endblock %}
