{% set has_toc = '</h2>' in note.content %}

{% block styles %}
{% include "./_partials/webfonts.j2" %}
<link rel="stylesheet" href="{{ _static_url }}/base.css">
<link rel="stylesheet" href="{{ _static_url }}/entry.css">
{% include "components/clipboard-copy.j2" %}
{% endblock %}

{% block scripts %}
<script src="{{ _static_url }}/app.js" type="module"></script>
{% include "components/iconify-icon.j2" %}
{% include "components/lightbox.j2" %}
{% endblock %}

{% block body %}
  <div id="navbar" class="z-30 fixed lg:sticky top-0 w-full">
    <div id="navbar-backdrop"></div>
    <div class="mx-auto max-w-content relative">
      {% include "./_layouts/components/nav-head.j2" %}
    </div>
  </div>
  <main id="main" class="flex mx-auto pt-20 lg:pt-6 pb-10 lg:px-8
    {%- if has_toc %} max-w-6xl{% else %} max-w-4xl{% endif %}">
    <div id="content-container" class="grow px-6">
      <article class="h-entry relative min-w-0 shrink pt-8 max-w-[48rem] mx-auto">
        <div class="flex items-center gap-2 mb-2">
          <a class="uppercase text-sm font-semibold text-accent-10" href="{{ column.url }}">{{ column.title }}</a>
          <span class="text-xs text-gray-4">/</span>
          <time class="text-xs text-gray-10 font-medium js-time" datetime="{{ note.published_at|xmldatetime }}">{{ note.published_at|dateformat('%b %d, %Y') }}</time>
        </div>
        <h1 class="p-name text-2xl lg:text-4xl font-bold">{{ note.title }}</h1>
        {% if note.subtitle %}
          <h2 class="p-summary mt-2 text-lg text-gray-11">{{ note.subtitle }}</h2>
        {% endif %}
        <div class="e-content font-serif lg:text-lg">
          {{ note.content }}
        </div>
        {% if note.tags %}
          <div class="entry-tags flex items-center gap-4">
            {% for tag in note.tags %}
              <a class="p-category" href="{{ tag.url }}">{{ tag.title }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </article>
    </div>
    {% if has_toc %}
      <div class="hidden lg:block">
        <aside id="aside" class="pl-6 pt-8 w-64 sticky top-(--navbar-height) overflow-y-auto">
          <div class="outline-marker"></div>
          <div class="flex items-center gap-1 text-sm mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M8 6h10"/>
              <path d="M6 12h9"/>
              <path d="M11 18h7"/>
            </svg>
            <span class="font-medium">{{ translate('onthispage') }}</span>
          </div>
          <div class="js-outline outline-content"></div>
        </aside>
      </div>
    {% endif %}
  </main>
  {% include "./_layouts/footer.j2" %}
{% endblock %}
