@import "./css/partials/navigation.css";

.archive-description {
  margin-top: 1.5rem;
}

.archive-description p {
  margin: 1rem 0;
}

.archive-description a {
  color: var(--accent-9);
  text-decoration: underline;
}

.archive-description a:hover {
  color: var(--accent-11);
}

.column-links iconify-icon {
  color: var(--gray-10);
  font-size: 0.96em;
}

.column-links a {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: color 0.2s ease;
}

.column-links a:hover {
  color: var(--accent-10);
}

.column-links a:hover iconify-icon {
  color: var(--accent-10);
}

.note-item a:hover {
  color: var(--accent-10);
}
