body[data-expanded*="mobile-navbar"] {
  overflow: hidden;
}

.nav-head-brand {
  display: flex;
  align-items: center;
}

.nav-head-brand img {
  height: 30px;
}

.nav-head-brand img + strong {
  display: none;
}

.nav-head-actions li:last-of-type > a {
  background-color: var(--accent-10);
  color: var(--accent-contrast);
  border-radius: 48px;
  padding: 0.4rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.nav-head-actions li:last-of-type > a:hover {
  opacity: 0.85;
}

.mobile-nav-head {
  position: absolute;
  top: 64px;
  left: 0;
  padding: 1rem;
  background-color: var(--background-color);
  height: calc(100vh - 64px);
  width: 100%;
  z-index: 30;
}

.mobile-nav-head[aria-hidden="true"] {
  height: 0;
  visibility: hidden;
}

.mobile-nav-head .nav-links {
  gap: 2rem;
}
