body[data-expanded*="mobile-navbar"] {
  overflow: hidden;
}
#navbar-backdrop {
  backdrop-filter: blur(12px);
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--gray-a4);
  background-color: var(--background-dropback);
}

.nav-head-brand {
  display: flex;
  align-items: center;
}

.nav-head-brand img {
  height: 30px;
  border-radius: 4px;
}

.nav-head-brand img + strong {
  display: none;
}

.mobile-nav-head .nav-head-actions a {
  height: 34px;
  border-radius: 48px;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: 2px solid var(--gray-a5);
}

.nav-head-actions li:last-of-type > a {
  height: 34px;
  background-color: var(--accent-10);
  color: var(--accent-contrast);
  border-radius: 6px;
  padding: 0.25rem 0.8rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: 2px solid var(--accent-10);
}

.nav-head-actions li:last-of-type > a:hover {
  opacity: 0.85;
}

button[aria-controls="mobile-navbar"] {
  position: relative;
  z-index: 31;
}

.mobile-nav-head {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  padding-top: 64px;
  height: 100vh;
  width: 100%;
  z-index: 30;
  overflow: hidden;
}

.mobile-nav-head[aria-hidden="true"] {
  display: none;
  height: 0;
  visibility: hidden;
}

.nav-head-actions .nav-links {
  gap: 0.5rem;
}

.mobile-nav-head .nav-links {
  gap: 2rem;
}
